* {
	padding: 0;
	margin: 0;
}

.App {
	box-sizing: border-box;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: antiquewhite;
}

.container {
	max-width: 650px;
	margin: 5px;
	width: calc(100% - 10px);
	padding: 30px;
	border-radius: 10px;
	box-sizing: border-box;
	border: 1px solid lightgrey;
	background: #fff;
}

.test{
	user-select: none;
}

input.input-field {
	opacity: 0;
	position: absolute;
}

span{
	font-size: 20px;
	user-select: none;
	cursor: text;
}

span.active{
	border-bottom: 3px solid blue;
}

span.correct{
	background-color: lightgreen;
}

span.wrong{
	color: darkred;
	background-color: pink;
}

.result {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	padding-top: 10px;
	border-top: 2px solid burlywood;
}

button.btn {
	padding: 5px;
	outline: none;
	border: 1px solid lightgray;
	border-radius: 4px;
	cursor: pointer;
	background: #049c14;
	color: #fff;
	transition: all 0.5s;
}

button.btn:hover{
	background-color: #02500b;
}